<%- include("header") -%>

        <div class="container">
            <div class="operationbtns">
                <div class="operationbtnsdiv">
                    <button>ADD</button>
                    <button>DELETE</button>
                </div>
            </div>
            
            <div class="jobslist">
                <%for(let i=0;i<jlist.length;i++){ %>
                    <div class="container">
                        <div class="row list mx-0">
                            <div class="col-3 p-3"><%=jlist[i].Job_id%></div>
                            <div class="col-5 p-3"><%=jlist[i].Title%></div>
                            <div class="col-3 p-3"><%=jlist[i].Posted_Date%></div>
                            <button class="down_btn col-1 p-3"><i class="fa-solid fa-angle-down"></i></button>
                        </div>
                        <div class="drop_down">
                    
                            <div class="details1">
                                <p><span>Job category: </span><%=jlist[i].Category%></p>
                                <p><span>Employment Type: </span><%=jlist[i].Employment_Type%></p>
                                <p><span>Location : </span><%=jlist[i].Location%></p>
                            </div>
                            <div class="details1">
                                <p><span>Salary : </span><%=jlist[i].Salary%></p>
                                <p><span>Experience : </span><%=jlist[i].Experience%></p>
                                <p><span>No of positions: </span><%=jlist[i].No_Of_Positions%></p>
                            </div>
                            <div class="details2">
                                <p><span>Job Description :</span><%=jlist[i].Job_Description%></p>
                            </div>
                            <div class="details2">
                                <p><span>Qualification:</span> <%=jlist[i].Qualification%></p>
                            </div>
                            <div class="details2">
                                <p><span> Roles and Responsiblities :</span> <%=jlist[i].Roles_Responsibilities%></p>
                            </div>
                        </div>
                    </div>
                <%}%>                
            </div>
        </div>
 
<%- include("footer") -%>